table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid white;
    box-shadow: 3px 1px 10px black;
    margin-left: 5%;
    width: 100%;
}

tbody {
    font-weight: bold;
    border: 1px solid #333;
    text-align: left;
    padding: 1rem;
    color: #fff;

   
}
tbody>tr, th {
    padding: 1rem;
    border: 1px double black;
}


.trade-table-title {
    text-align: center;
    color: #fff;
}

