table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background: #7effc9;
    border: 1px solid white;
    box-shadow: 1px 1px 10px black;
    margin-left: 5%;
    width: 100%;
}

td, th {
    font-weight: bold;
    border: 1px solid #333;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #03152a;
    color: white !important;
}


.trade-table-title {
    text-align: center;
    color: #fff;
}

